#calenderBody,
.calenderHead {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 0.5rem;
    justify-content: center;
    align-items: stretch;
    width: 95vw;
}

.calendarDayDiv,
.calenderDayDivLeer {
    min-height: 120px;
    padding: 10px;
    background-color: rgb(206, 233, 241); 
}

body {
    margin: 10px;
    min-height: 100vh;
    width: 95%;
}

.eventDiv {
    font-size: 0.75rem;
}

.calenderHead {
    font-weight: bold;
    font-size: larger;
    text-align: center;
    background-color:lightgray ; 
}

.dayNumber {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    background-color: lightgray;
}

#calenderHeader {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1em;
    width: 95%;
}

button {
    background-color: lightgray;
}

#aktuellesDatum {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-self: left;
    width: 30%;
    gap: 10px;
    font-weight: bold;
    font-size: xx-large;
    margin: 20px;
}
.calendarDayDiv.expanded {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.expanded .eventDiv

 {
    font-size: 1.5rem;
    padding: 20px;
    margin: 20px;
    width: 80%;
    overflow-wrap: break-word;
}


@media (max-width: 360px) {
    
    .calendarDayDiv,
    .calenderDayDivLeer {
    min-height: 10vh;
    padding: 0;
    margin: 0;
    background-color: rgb(206, 233, 241);}
    
    .eventDiv {
    font-size: 0.5rem;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-wrap: break-word;
    }

    .dayNumber {
    font-size: x-small;
    width: 100%;
    }

    #calenderBody,
    .calenderHead {
    display: grid;
    grid-template-columns: repeat(7, 45.9px);
    column-gap: 1%;
    margin: 0;
    padding: 0;
    width: 100%;
    }

    #aktuellesDatum {
        margin: 0;
    }
}

